html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: grid;

    grid-template-columns: auto;
    grid-template-areas: "header" 
    "post" 
    "footer";

    /* background-color: whitesmoke; */
}

.hero-post {
    
    background: url("/images/main-image.jpeg");
    background-size: cover;
    padding-bottom: 2em;
    margin-bottom: 1em;
    grid-area: post;
}



.hero-date,
.hero-title,
.hero-body {
    width: 374px;
    font-family: inherit;
    font-style: normal;
    color: #FFFFFF;
}

.hero-date {
    height: 15px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 15px;
    padding-top: 87px;
    margin-left: 1.13em;
}


.hero-title {
    height: 70px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 108.2%;
    letter-spacing: -0.03em;
    padding: 8px 20px;
    margin: 0;
}

.hero-body {
    height: 80px;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 20px;
    padding: 0.5em 1.25em;
    margin: 0;
}




.card-date {
    color: #000000;
    /* margin-left: 1em; */
    padding-top: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
}



.card-body {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    color: #505050;
    /* margin-left: 1.5em; */
    margin-top: 0;
    margin-bottom: 0;
}

.card-image {
    width: 100%;
    height: 232px;
    border-radius: 10px;
    object-fit: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}


li {
    float: right;
}

li a {
    display: block;
    ;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: right;
    color: #090909;
}

li a:hover {
    background-color: #111;
}

header {
    display: flex;
    background-color: #FFFFFF;
    grid-area: header;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}



footer {
    height: 105px;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-area: footer;
}

footer div {
    padding: 1em 2em;
}

footer strong {
    color: #ECECEC;
    font-family: inherit;
    font-size: 0.67rem;
    font-weight: 700;
    line-height: 0.72em;
    letter-spacing: -0.03em;
    text-align: center;

}

footer p {


    height: 15px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 0.67rem;
    line-height: 125%;
    text-align: center;
    color: #D7D7D7;
    margin: auto;
}



.journal-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0E0E0E;
    line-height: 108.2%;
    letter-spacing: -0.03rem;
    font-size: 0.846875rem;
    /* height: 0.9375rem; */
    margin: 0.5em 0 0 0.5em;

}

.journal-title span {
    margin-right: 0;
}


.card-title {
    font-size: 1.34rem;
    font-weight: 700;
    line-height: 108.2%;
    color: #141414;
    /* margin-left: 1em; */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.color-white {
    color: white;
}


i {
    height: 1.34rem;
    width: 1.34rem;
}

.btn {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    margin: 2em auto;
}

 .card {
    /* margin: 0 1em 1em 1em; */
    margin: 0.5em 1.5em;
} 

@media(min-width:600px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        grid-template-areas: "header header header"
            "hero hero hero"
            "card card card"
            "card card card"
            ". view .";

    }


    .hero-post {
        grid-area: hero;
    }


    .btn {
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 0.9rem;
        text-align: center;
        text-decoration-line: underline;
        color: #000000;
        margin: 2em auto;
        grid-area: view;
    }

    .card:hover {
        translate: 0 0 1px;
        background-color: whitesmoke;
        margin: 0.25em;
        padding: 1em;
        border: 2px solid lightgrey;
        border-radius: 25px;
    }

    li {
        margin-right: 25px;
    }

    .journal-title {
        margin-left: 25px;
    }

    i {
        margin-right: 2px;
    }

    li a:hover {
        color: white;
    }

}